$background-color-form: #FFFFFF1A;
$color-text: #FFFFFF;
$input-placeholder-color: #F4F5F6;
$background-color-btn: #FFFFFF;
$color-text-btn: #1334D0;
$line-color: #FFFFFF1A;
$border-btn-sign-up-color: #FFFFFF33;

